html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
    padding: 50px;

}

#grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}
#grid {
    max-width: 900px;
    -o-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
}
    #grid li {
        list-style-type: none;
        position: relative;
        float: left;
        width: 200px;
        margin: 10px;
        margin-bottom: -57.74px;
    }
        #grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8) {
            -o-transform: translateX(calc(50% + 10px));
            -moz-transform: translateX(calc(50% + 10px));
            -webkit-transform: translateX(calc(50% + 10px));
            -ms-transform: translateX(calc(50% + 10px));
            transform: translateX(calc(50% + 10px));
        }

        #grid li.special .hexagon {
            background: #ffcb69;
        }

            #grid li.special .hexagon:before, #grid li.special .hexagon:after {
                border-top-color: #ffcb69;
                border-bottom-color: #ffcb69;
            }

.hexContent {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
}

.hexagon {
    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #b4c7e7;
    margin: 57.74px 0;
}

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        transition: ease-in-out 0.2s;
    }

    .hexagon:before {
        bottom: 100%;
        border-bottom: 57.74px solid #b4c7e7;
    }

    .hexagon:after {
        top: 100%;
        width: 0;
        border-top: 57.74px solid #b4c7e7;
    }


.hexText {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-row;
}
    .hexText span {
        display: table-cell;
        line-height: 18px;
        padding: 10px;
    }
.hexImages {
    text-align: center;
    width: 200px;
    height: 70px;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}
.hexImages img {
    max-height: 25px;   
    max-width: 25px;   
}

.completed .hexagon {
    background-color: #48505c !important;
}
.completed .hexagon:before, .completed .hexagon:after {
    border-top-color: #48505c !important;
    border-bottom-color: #48505c !important;
}
.special.completed .hexagon {
    background-color: #66512a !important;
}.special.completed .hexagon:before, .special.completed .hexagon:after {
    border-top-color: #66512a !important;
    border-bottom-color: #66512a !important;
}
.completed img {
    filter: brightness(0.4);
}

@media (max-width: 979px)
{
    #grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8) {
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    #grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
        -o-transform: translateX(calc(50% + 10px));
        -moz-transform: translateX(calc(50% + 10px));
        -webkit-transform: translateX(calc(50% + 10px));
        -ms-transform: translateX(calc(50% + 10px));
        transform: translateX(calc(50% + 10px));
    }
}
@media (max-width: 759px) {
    #grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6), #grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8) {
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #grid li:nth-child(4n+3), #grid li:nth-child(4n+4) {
        -o-transform: translateX(calc(50% + 10px));
        -moz-transform: translateX(calc(50% + 10px));
        -webkit-transform: translateX(calc(50% + 10px));
        -ms-transform: translateX(calc(50% + 10px));
        transform: translateX(calc(50% + 10px));
    }
}
@media (max-width: 539px) {
    #grid li:nth-child(4n+3), #grid li:nth-child(4n+4)#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6), #grid li:nth-child(8n+5), #grid li:nth-child(8n+6), #grid li:nth-child(8n+7), #grid li:nth-child(8n+8) {
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    #grid li:nth-child(2n+2) {
        -o-transform: translateX(calc(50% + 10px));
        -moz-transform: translateX(calc(50% + 10px));
        -webkit-transform: translateX(calc(50% + 10px));
        -ms-transform: translateX(calc(50% + 10px));
        transform: translateX(calc(50% + 10px));
    }
}

.hexagon {
    -o-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}
.hexContent:hover + .hexagon {
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    z-index: 1;
}

li.special.completed .hexContent:hover + .hexagon {
    background-color: #5b4825 !important;
}

    li.special.completed .hexContent:hover + .hexagon:before, li.special.completed .hexContent:hover + .hexagon:after {
        border-top-color: #5b4825 !important;
        border-bottom-color: #5b4825 !important;
    }
li.special .hexContent:hover + .hexagon:before, li.special .hexContent:hover + .hexagon:after {
    border-top-color: #cca254 !important;
    border-bottom-color: #cca254 !important;
}

li.special .hexContent:hover + .hexagon {
    background-color: #cca254 !important;
}

li .hexContent:hover + .hexagon:before, li .hexContent:hover + .hexagon:after {
    border-top-color: #909fb8 !important;
    border-bottom-color: #909fb8 !important;
}

li .hexContent:hover + .hexagon {
    background-color: #909fb8 !important;
}
li.completed .hexContent:hover + .hexagon {
    background-color: #394049 !important;
}

    li.completed .hexContent:hover + .hexagon:before, li.completed .hexContent:hover + .hexagon:after {
        border-top-color: #394049 !important;
        border-bottom-color: #394049 !important;
    }